

/* Header Start*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ddd;
}

header{
    width: 100%;
    background-color: #515662;
    display: flex;
   }

.logo{
    margin-top: 5px;
    font-weight: bold;
    margin-left: 80px;
    padding: 10px;
    cursor: pointer;
    }

    .navber ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 55px;
        padding-left: 50px;
    }

    .navber ul{
        list-style: none;
    }

    .navber ul li{
        background-color: rgb(39, 38, 38);
        width: 170px;
        border: 1px solid #777575;
        height: 50px;
        text-align: center;
        float: left;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 2px 2px 4px px rgb(73, 72, 72);
        margin: 5px;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    
    .navber ul li a {
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .navber ul li:hover{
        background-color: crimson;
        transition: all ease-in 0.2s;
       }

       .navber ul ul{
        display: none;
        color: white;
       }

       .navber ul ul li{
        margin: 0px;
       }

       .navber ul li:hover > ul{
        display: block;
       }
       /* Header End*/

      
       
       /* Footer Start*/
    footer{
        position: absolute;
        bottom: 0;
        background-color: #222529;
        width: 100%;
        color: white;
        text-align: center;
}

.name h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    }

    .text p{
        width: 600px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        top: -19px;
    }

    .icon i{
        font-size: 30px;
        position: relative;
        top: -10px;
        padding: 5px;
        cursor: pointer;
        
    }

    .copy{
        width: 100%;
        height: 35px;
        background-color: black;
        line-height: 34px;
        font-size: 20px;
    }

    /*Form Start*/

    .box1{
        background-color: crimson;
        color: white;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        padding: 25px 60px;
        margin-top: 25px;
        border-radius: 10px;
        box-shadow:  2px 2px 4px rgb(82, 79, 79), -2px -2px 4px rgb(82, 79, 79);
        font-family: Arial, Helvetica, sans-serif;
        }

        .box1 input{
            margin: 7px;
            font-size: 15px;
            padding: 2px 18px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
            }

        .box1 .btn{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            margin: 13px;
            background-color: rgba(245, 56, 56, 0.753);
            color: white;
            cursor: pointer;
            
        }

        .box1 .btnm{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            margin: 13px;
            background-color: rgba(10, 224, 135, 0.664);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            
        }






    /*Form End*/


   